<%provide(:title,"Show List") %>

<div class="container">
<h2><%= @list.name %>(<%= @list.todos.count %>)</h2>
<% if @list.todos.any? %>
<table border="1">
<tr>
	<th><h3>Description</h3></th>
	<th><h3>Status</h3></th>
</tr>
	<% @list.todos.each do | item | %>
	<tr>
		<td><%= item.description %></td>
		<td><%= item.status %></td>
		<td><%= link_to "Edit", edit_todo_path(item) %> </td>
		<td><%= link_to "Delete",todo_path(item),method: "delete",confirm: "Are you sure?" %></td> 
	</tr>
	<% end %>
</table>
<% end %>
</div>
<div class="row">
	<div class="span8 offset3" >
        <%= form_for(:todo,url: todos_path) do | f| %>
        <%= hidden_field_tag "tasklist_id",@list.id %>
        <%= f.label :description %>
        <%= f.text_field :description %>

        <%= f.label :status %>
        <%= f.text_field :status %>

        <%= f.submit "Add Todo" , class: "btn btn-large" %>
        <% end %>
     </div>
 </div>





